.api-failure-container{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.api-failure-image{
    height: 40%;
    width: 80%;
}

@media screen and (min-width:768px) {
    .api-failure-image{
        height: 60%;
        width: 50%;
    }
}